.gallery {
width: 1440px;
height: 696px;
background: #fff;
}

.gallery-item {
width: 1128px;
height: 200px;
}

.gallery-link{

}

.gallery-image {
width: 360px;
height: 200px;
/* background: url("path_to_image"); */
}